@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to .NET User Dashboard</h1>
    <p class="lead">Register an account, set your description, and talk to your friends!</p>
    <a class="btn btn-primary btn-lg" href="/signin" role="button">Start</a>
  </div>
</div>

<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Manage User</h5>
                <p class="card-text">Admins can add/delete users and change the user level of everyone but the super user.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Leave Messages</h5>
                <p class="card-text">Go write a message on a friend's wall. And even write a comment on a message someone else left somewhere.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Edit User Information</h5>
                <p class="card-text">Want to change your description? Great! Don't like your password? Change it!</p>
                </div>
            </div>
        </div>
    </div>
</div>