@model UserDashboard.Models.SigninViewModel

<div class="row">
    <div class="col">
        @if(TempData != null)
        {
           @foreach(KeyValuePair<string,object> error in TempData)
           {
               <p class="error">@error.Value</p>
           }
                
            
        }
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Register</h3>
        <form asp-controller="Home" asp-action="SigninUser" method="POST" class="home_form">
            <label asp-for="Email"></label>
            <input asp-for="Email">

            <label asp-for="Password"></label>
            <input asp-for="Password">

            <button type="submit" class="btn">Sign In</button>

        </form>
        <p>Don't have an account yet? <a href="/register">Register Now!</a></p>
    </div>
</div>