/*Write all of your CSS here*/

.home_form label {
    display: block;
}

.btn {
    display: table;
    border: 2px solid black;
    margin-top: 1rem;
    transition: opacity 0.3s ease 0s;
}

.btn:hover {
    opacity: 0.7;
}

.error {
    color: #d10000;
    font-weight: bold;
}